* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior-y: contain; /* 폰에서 아래로 드래그했을 때 새로고침 방지 */
  overflow: hidden;
}

@font-face {
  font-family: 'CherryBomb';
  src: url('@/assets/fonts/CherryBombOne-Regular.ttf');
}

@font-face {
  font-family: 'DNF';
  src: url('@/assets/fonts/DNFBitBitv2.ttf');
}

@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/Pretendard-Medium.ttf');
}
